extends layout

block content
  script.
    var auth0 = new auth0.WebAuth({
      domain: '#{domain}',
      clientID: '#{clientId}',
      redirectUri: '#{plcallback}',
      responseType: 'code',
      audience: 'https://' + '#{domain}' + '/userinfo',
      scope: 'openid profile'
    });
  .container
    .header.clearfix
      nav
        ul.nav.nav-pills.pull-right
          li#home
            a(href='#') Home
          li#password-login.active
            a(href='#') Password Login
          li#logout
            a(href='#') Logout
      h3.text-muted App.com
    div.alert.alert-info
      strong Password Login
      br
      br
      | You are requested to perform a one - off password verification of your current
      strong  #{email}
      |  email address against your existing
      strong  #{passwordConnection}
      |  database account.
      | You will automatically be redirected back to
      a(href="/portal/home") Home
      | once done.We thank you for your co-operation.
    .jumbotron
      h3 #{email}
      .input-group
        input#password.form-control(type='password', placeholder='password')
        span.input-group-btn
          button#password-btn.btn.btn-lg.btn-primary.btn-block Go
    .row.marketing
      .col-lg-6
        h4 Subheading
        p
          | Donec id elit non mi porta gravida at eget metus.Maecenas faucibus mollis interdum.h4 Subheading
        p
          | Morbi leo risus, porta ac consectetur ac, vestibulum at eros.Cras mattis consectetur purus sit amet
          | fermentum.h4 Subheading
        p
          | Donec id elit non mi porta gravida at eget metus.Maecenas faucibus mollis interdum.
      .col-lg-6
        h4 Subheading
      p
        | Donec id elit non mi porta gravida at eget metus.Maecenas faucibus mollis interdum.h4 Subheading
      p
        | Morbi leo risus, porta ac consectetur ac, vestibulum at eros.Cras mattis consectetur purus sit amet
        | fermentum.h4 Subheading
      p
        | Donec id elit non mi porta gravida at eget metus.Maecenas faucibus mollis interdum.
    footer.footer
      p  © 2017 Company Inc

    script.
      $(function () {
        $.growl({title: "Link your profiles", message: "Please link with your database profile"});
      });

      $('#home').click(function () {
        $("#logout").removeClass("active");
        $("#password-login").removeClass("active");
        $("#home").addClass("active");
        window.location = "/portal/home";
      });

      $('#password-btn').click(function () {
        var password = $('#password').val();
        auth0.login({
          realm: '#{passwordConnection}',
          username: '#{email}',
          password: password
        }, function (err) {
          if (err) {
            console.error("Error: " + err.message);
            $.growl.warning({message: "Login Failed: " + err.message + " Please check and try again."});
          }
        });
      });

      $("#logout").click(function (e) {
        e.preventDefault();
        $("#home").removeClass("active");
        $("#password-login").removeClass("active");
        $("#logout").addClass("active");
        window.location = "/logout";
      });




